<div (click)="selectClicked()" class="blade-container w-50 d-flex justify-content-between align-items-center" [ngClass]="{'disabled': disabled, 'selected': selected, 'edit': isEditMode}" [ngStyle]="{'height': height}">
    <div class="d-flex w-50 align-items-center label-container">
        <i [class]="iconName" class="me-2 text-black"></i>
        <span *ngIf="!isEditMode" class="label display">{{ label }}</span>
        <input *ngIf="isEditMode" type="text" [(ngModel)]="label" class="label edit" />
    </div>
    <div class="d-flex details">
        <div class="detail-column labels-column">
            <div *ngFor="let detail of details" class="d-flex detail">
                <span class="detail-label">{{ detail.label }}:</span>
            </div>
        </div>
        <div class="detail-column values-column">
            <div *ngFor="let detail of details" class="d-flex detail">
                <span *ngIf="!isEditMode" class="detail-value">{{ detail.value }}</span>
                <input *ngIf="isEditMode" type="number" class="detail-value edit" [(ngModel)]="detail.value" />
            </div>
        </div>
    </div>
</div>
<button (click)="toggleEditMode()">Toggle Edit Mode</button>
