<!-- <div
  (click)="selectClicked()"
  class="blade-container"
  [ngClass]="{ disabled: disabled, selected: selected, edit: isEditMode }"
  [ngStyle]="{ height: height }"
>
  <div class="label-container">
    <i class="bi" [ngClass]="iconName"></i>
    <div class="d-flex flex-column">
      <span *ngIf="!isEditMode" class="label display inter-medium">{{ label }}</span>
      <input *ngIf="isEditMode" type="text" [(ngModel)]="label" class="label edit inter-medium" />
      <span *ngIf="!isEditMode" class="description display inter-regular">{{ description }}</span>
      <input
        *ngIf="isEditMode"
        type="text"
        [(ngModel)]="description"
        class="description edit inter-regular"
      />
    </div>
  </div>
  <div class="details inter-regular">
    <div class="detail-column labels-column">
      <div *ngFor="let detail of details" class="detail">
        <span class="detail-label">{{ detail.label }}:</span>
      </div>
    </div>
    <div class="detail-column values-column">
      <div *ngFor="let detail of details" class="detail">
        <span *ngIf="!isEditMode" class="detail-value">{{ detail.value }}</span>
        <input
          *ngIf="isEditMode"
          type="number"
          class="detail-value edit"
          [(ngModel)]="detail.value"
        />
      </div>
    </div>
  </div>
</div>
<br />
<button (click)="toggleEditMode()">Toggle Edit Mode</button> -->

<div
  (click)="selectClicked()"
  class="blade-container"
  [ngClass]="{ disabled: disabled, selected: selected, edit: isEditMode }"
  [ngStyle]="{ height: height }"
>
  <div class="label-container">
    <i class="bi" [ngClass]="iconName"></i>
    <div class="d-flex flex-column">
      <span *ngIf="!isEditMode" class="label display inter-medium">{{ label }}</span>
      <input *ngIf="isEditMode" type="text" [(ngModel)]="label" class="label edit inter-medium" />
      <span *ngIf="!isEditMode" class="description display inter-regular">{{ description }}</span>
      <input
        *ngIf="isEditMode"
        type="text"
        [(ngModel)]="description"
        class="description edit inter-regular"
      />
    </div>
  </div>
  <div class="details inter-regular">
    <div class="detail-column labels-column">
      <div *ngFor="let detail of details" class="detail">
        <span class="detail-label">{{ detail.label }}:</span>
      </div>
    </div>
    <div class="detail-column values-column">
      <div *ngFor="let detail of details" class="detail">
        <span *ngIf="!isEditMode" class="detail-value">{{ detail.value }}</span>
        <input
          *ngIf="isEditMode"
          type="number"
          class="detail-value edit"
          [(ngModel)]="detail.value"
        />
      </div>
    </div>
  </div>
</div>
<br />
<button (click)="toggleEditMode()">Toggle Edit Mode</button>
