@import '../../../variables.scss';

.appliances {
  margin-top: 35px;
  .title-row {
    align-self: flex-start;
    font-size: 24px;
    .title {
      color: $text-color;
      margin-right: 5px;
      margin-bottom: -8px;
    }
    .subtitle {
      color: $subtitle-color;
    }
  }
}

.section {
  transition: opacity 0.2s;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
    transition: opacity 0.2s;
  }

  &.zip {
    margin-bottom: 50px;
  }
}

.btn-primary {
  font-size: 14px;
  border: none;
  width: 351px;
  height: 36px;
  margin-top: 35px;
  background-color: #0071e3;

  &:hover {
    background-color: #0076df;
  }
  &:active {
    background-color: #006edb;
  }

  &:disabled {
    background-color: #e3ecfc;
    opacity: 1;
  }
}

.info-icon {
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 3px;
  color: $subtitle-color;
  cursor: pointer;
  &:hover {
    color: $text-color;
  }
}

.appliance-group {
  margin-top: 15px;
  margin-bottom: 15px;
  .group-title {
    font-size: 17px;
  }
}

hr {
  margin-top: 5px;
}

input {
  border-radius: 12px;
  outline: 1px solid $subtitle-color;
  border: none;
  font-size: 17px;
  padding: 10px;
  width: 170px;
  margin-top: 10px;

  &:focus {
    outline: 2px solid $selected-blue;
  }
}

mini-card {
  width: fit-content;
}

.content-below-md {
  display: none;
}

.content-above-md {
  display: flex;
}

@media (max-width: 767.98px) {
  .content-below-md {
    display: flex;
  }

  .content-above-md {
    display: none;
  }
}

.step2-wrapper {
  min-height: 100vh;
}

.scroll-anchor {
  height: 1px;
  margin-bottom: 20px;
}

// animations
.fade-in {
  -webkit-animation: fade-in 0.3s ease-in-out both;
  animation: fade-in 0.3s ease-in-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.3s ease-out both;
  animation: fade-out 0.3s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
