@import 'src/variables.scss';

.appliances {
  margin-top: 35px;
}
.title-row {
  align-self: flex-start;
  font-size: 24px;
  .title {
    color: $text-color;
    margin-right: 5px;
    margin-bottom: -8px;
  }
  .subtitle {
    color: $subtitle-color;
  }
}
.section {
  &.zip {
    margin-bottom: 40px;
  }
}

.build-stats {
  margin-bottom: 15px;
  display: flex;
  .stat {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    .number {
      font-size: 36px;
      color: $selected-blue;
      margin-right: 3px;
    }
    .unit {
      font-size: 22px;
      color: $selected-blue;
    }
    .description {
      font-size: 14px;
      color: $text-color;
    }
    &:first-of-type {
      margin-left: 5px;
      margin-right: 35px;
    }
  }
}

.btn-primary {
  margin-top: 35px;
}

.info-icon {
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 3px;
  color: $grey-secondary;
  cursor: pointer;
  &:hover {
    color: $text-color;
  }
}

.appliance-group {
  margin-top: 15px;
  margin-bottom: 15px;
  .group-title {
    font-size: 17px;
  }
}

hr {
  margin-top: 5px;
}

input {
  border-radius: 12px;
  outline: 1px solid $grey-secondary;
  border: none;
  font-size: 17px;
  padding: 10px;
  width: 170px;
  margin-top: 10px;

  &:focus {
    outline: 2px solid $selected-blue;
  }
}

mini-card {
  width: fit-content;
}

.content-below-md {
  display: none;
}

.content-above-md {
  display: flex;
}

@media (max-width: 767.98px) {
  .content-below-md {
    display: flex;
  }

  .content-above-md {
    display: none;
  }
}

.step2-wrapper {
  min-height: 100vh;
}

.scroll-anchor {
  height: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
}
