<div
  (click)="selectClicked()"
  class="blade-container"
  [ngClass]="{ disabled: disabled, selected: selected, edit: isEditMode }"
>
  <div class="view-row">
    <div *ngIf="selected" class="edit-button" (click)="toggleEditMode($event)">
      <i *ngIf="!isEditMode" class="bi bi-pencil"></i>
      <i *ngIf="isEditMode" class="bi bi-x-lg"></i>
    </div>
    <div class="label-container" [ngClass]="{ 'edit-mode': isEditMode }">
      <i class="main-icon bi" [ngClass]="appliance.icon"></i>
      <div class="d-flex flex-column" *ngIf="!isEditMode">
        <span class="name display inter-medium">{{ appliance.name }}</span>
        <span *ngIf="appliance.description" class="description display inter-regular">{{
          appliance.description
        }}</span>
      </div>
      <div
        class="d-flex flex-column title-edit-fields"
        [ngClass]="{ error: nameRequired }"
        *ngIf="isEditMode"
      >
        <input
          type="text"
          class="input-name inter-medium"
          placeholder="Name*"
          [(ngModel)]="appliance.name"
          (input)="clearNameError()"
          required
        />
        <div
          [ngClass]="{ hide: !nameRequired }"
          *ngIf="nameRequired"
          class="error-message inter-regular"
        >
          A name is required
        </div>
        <input
          type="text"
          placeholder="Description"
          class="input-description inter-regular"
          [(ngModel)]="appliance.description"
        />
      </div>
    </div>
    <div *ngIf="!isEditMode" class="details d-flex flex-column inter-regular">
      <div *ngIf="appliance.quantity > 1" class="detail">x{{ appliance.quantity }}</div>
      <div class="detail">{{ appliance.wattage }} Watts</div>
      <div class="detail">{{ appliance.hours }} Hours/day</div>
    </div>
  </div>
  <div class="edit-fields fade-in" *ngIf="isEditMode && editInnerVisible">
    <div class="edit-label inter-medium">Quantity</div>
    <input
      type="number"
      class="input-short"
      placeholder="Quantity"
      [(ngModel)]="appliance.quantity"
      (input)="validateInput('quantity', appliance.quantity)"
    />
    <div class="edit-label inter-medium">Wattage</div>
    <input
      type="number"
      class="input-short"
      placeholder="Wattage"
      [(ngModel)]="appliance.wattage"
      (input)="validateInput('wattage', appliance.wattage)"
    />
    <div class="edit-label inter-medium">Hours used per day</div>
    <input
      type="number"
      placeholder="Hours / day"
      class="input-short"
      [(ngModel)]="appliance.hours"
      (input)="validateInput('hours', appliance.hours)"
    />
    <div style="margin-top: 5px">
      <a (click)="setDefaults()" class="reset-link">Reset defaults </a>
    </div>
  </div>
</div>
<div *ngIf="isEditMode" class="fullscreen-mask" (click)="toggleEditMode($event)"></div>
