<div
  (click)="selectClicked()"
  class="blade-container"
  [ngClass]="{ disabled: disabled, selected: selected, edit: isEditMode }"
>
  <div class="view-row">
    <div *ngIf="selected" class="edit-button" (click)="toggleEditMode($event)">
      <i *ngIf="!isEditMode" class="bi bi-pencil"></i>
      <i *ngIf="isEditMode" class="bi bi-x-lg"></i>
    </div>
    <div class="label-container" [ngClass]="{ 'edit-mode': isEditMode }">
      <i class="main-icon bi" [ngClass]="appliance.icon"></i>
      <div class="d-flex flex-column" *ngIf="!isEditMode">
        <span class="label display inter-medium">{{ appliance.name }}</span>
        <span *ngIf="appliance.description" class="description display inter-regular">{{
          appliance.description
        }}</span>
      </div>
      <div class="d-flex flex-column" *ngIf="isEditMode">
        <input type="text" class="input-name inter-medium" [(ngModel)]="appliance.name" />
        <input
          type="text"
          class="input-description inter-regular"
          [(ngModel)]="appliance.description"
        />
      </div>
    </div>
    <div *ngIf="!isEditMode" class="details d-flex flex-column inter-regular">
      <div *ngIf="appliance.quantity > 1" class="detail">x{{ appliance.quantity }}</div>
      <div class="detail">{{ appliance.wattage }} Watts</div>
      <div class="detail">{{ appliance.hours }} Hours/day</div>
    </div>
  </div>
  <div class="edit-fields" *ngIf="isEditMode">
    <div class="edit-label inter-regular">Quantity</div>
    <input
      type="number"
      class="input-short"
      [(ngModel)]="appliance.quantity"
      (input)="validateInput('quantity', appliance.quantity)"
    />
    <div class="edit-label inter-regular">Wattage</div>
    <input
      type="number"
      class="input-short"
      [(ngModel)]="appliance.wattage"
      (input)="validateInput('wattage', appliance.wattage)"
    />
    <div class="edit-label inter-regular">Hours used per day</div>
    <input
      type="number"
      class="input-short"
      [(ngModel)]="appliance.hours"
      (input)="validateInput('hours', appliance.hours)"
    />
    <div>
      <a (click)="setDefaults()" class="reset-link">Reset defaults </a>
    </div>
  </div>
</div>
<div *ngIf="isEditMode" class="fullscreen-mask" (click)="toggleEditMode($event)"></div>
