$text-color-black: #1d1d1f;
// $subtitle-color: #86868b;
$subtitle-color: #0071e3cc;

$selected-blue: #0071e3;
$error-red: #b50000;

//greys
$grey-secondary: #86868b;
$grey: rgb(134, 134, 139);
$grey-light: rgb(168, 168, 169);
$grey-hr: rgb(199, 200, 201);
